*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cormorant Garamond', serif;
	color: #000;
}
li{
	list-style: none;
}

.sub-body{
	padding: 0 1em 0 1em;
}

header{
	background-color: #000;
	height: 3.88888888%;
	margin-bottom: 2em;
}
a{
	text-decoration: none;
	transition: all .5s;
}
a:link{
	color: #4a4a4a;
}

a:visited{
	color: red;
}
a:hover{
	text-shadow:0 1px 0 #222,
				0 -1px 0 #222,
                0 2px 0 #222,
                0 3px 0 #222,
                0 4px 0 #222;
}

a:active{
	text-decoration: underline;
}

.head-title{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.div-1{
	text-align: center;
}

.div-1 p{
	margin-bottom: 2em;
}
hr{
	background-color: black;
	border: none;
	
}

#top-line{
	height: 4px;
	margin-bottom: 2px;
	
}
#second-line{
	height: 2px;
	margin-bottom: 2em;
}
#third-line{
	margin-top: 1em;
	margin-bottom: 1em;
	height: 2px;
}







@media screen and (min-width: 768px) {
	

}



