*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trirong', serif;
	
	/* color: grey; */
}
li{
	list-style: none;
}

.sub-body{
	padding: 0 1em 0 1em;
}

header{
	background-color: #2D3945;
	height: 4.4em;
	margin-bottom: 2em;
	line-height: 4.4em;
}

a{
	text-decoration: none;
	transition: all .5s;
}
a:link{
	color: #4a4a4a;
}

a:visited{
	color: red;
}
a:hover{
	text-shadow:0 1px 0 #222,
				0 -1px 0 #222,
                0 2px 0 #222,
                0 3px 0 #222,
                0 4px 0 #222;
}

a:active{
	text-decoration: underline;
}

.head-title{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
}
legend{
	margin-bottom: 0.6em;
	font-size: 1.25em;
	font-weight: 800;
}

.div-1{
	text-align: center;
}
.div-1 h2{
	font-size: 1.25em;
	margin-top: -0.55em;
	margin-bottom: 0.25em;
	
}

.div-1 p{
	margin-bottom: 2.5em;
	line-height: 1.2em;
	font-size: 0.91em;
	color: #9DA3A8;
}
hr{
	background-color: black;
	border: none;
	
}

#top-line{
	height: 4px;
	margin-bottom: 3px;
	
}
#second-line{
	height: 2px;
	margin-bottom: 1.25em;
}
#third-line{
	margin-top: 1.15em;
	margin-bottom: 1.37em;
	height: 2px;
}

fieldset{
	border: none;
}

[for]{
	color: grey;
	font-weight: 300;
}


input:focus{
	font-style: normal;
	font-weight: 500;
}
::-webkit-input-placeholder { 
	text-align:right; 
	font-style: italic;
	font-weight: 200;
}
input:-moz-placeholder { 
	text-align:right; 
	font-style: italic;
	font-weight: 200;
}







.boxes,
.other{
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.85em;
	background-color: #EFF0F1;
	padding: 0.85em 1.6em;
	border-radius: 4px;
	border: 2px solid transparent;
}
.boxes:focus,
.other:focus{
	border-color: #46698B;
	outline: none;
	
}
#state{
	color: #ABB0B5;
	font-weight: 300;
	font-size: 0.95em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-top: 0.35em;
	height: 49.66px;
	padding: 0 0 0 0.85em;
    background: url('../arrows.png') no-repeat 99% 45% #EFF0F1;
    background-size: 49px 43px;
}




.zip{
	width: 53%;
}



.newsp{
	margin-bottom: 0.5em;
	line-height: 1.63em;
	font-size: 0.95em;
	color: grey;
}
.newsf{
	margin-top: 0.55em;
	margin-bottom: 0.3em;
	color: grey;
}


input[name=newsletter]{
	margin: 0 0 1.9em 0;
}


	
	

input[type=checkbox] {
    width: 9px;
    height: 9px;
    margin-right: 13px;
    /* cursor: pointer; */
    font-size: 9px;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


input[type=checkbox]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 3px;
    /* padding-bottom:5px; */
    color:#fff;
    width: 9px;
    height: 9px;
    /* visibility: visible; */
    border:1px solid #a5a5a5;
    /* padding-left:3px; */
    border-radius:2px;
	
}
input[type=checkbox]:checked:after {
    content: "\2713";
    background-color: #489EF9;
    font-weight: 600;
	font-size: 1em;
	line-height: 1;
	border: none;
	padding: 3px 1px 1px 2px;
	text-shadow: 0 1px 0 #444;
	
}	
input[type=checkbox]:focus{
	outline: none;
}

	
	
	
	
	
	



/* #489EF9 */


input[type=radio] {
    width: 12px;
    height: 12px;
    margin-right: 13px;
    /* cursor: pointer; */
    font-size: 9px;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


input[type=radio]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 3px;
    /* padding-bottom:5px; */
    color:#fff;
    width: 12px;
    height: 12px;
    /* visibility: visible; */
    border:1px solid #a5a5a5;
    /* padding-left:3px; */
    border-radius: 50%;
	/* margin-top: -15px; */
	
}
input[type=radio]:checked:after {
    content: "\00B7";
    background-color: #489EF9;
    font-weight: 600;
	width: 14px;
    height: 14px;
	font-size: 2.75em;
	line-height: 15px;
	
	border: none;
	text-align: center;
	/* padding: 3px 0px 1px 0px; */
	text-shadow: 0 1px 0 #444;
	
	
}	
input[type=radio]:focus{
	outline: none;
}

	
	



#format_html{
	margin-bottom: 1.9em;
}
#format_plain{
	margin-bottom: 3.07em;
}
.oth{
	font-size: 0.95em;
	color: grey;
}
textarea{
	height: 7.5em;
	
	resize: none;
}
.other{
	margin-top: 0.95em;
	margin-bottom: 1.5em;
}
.button{
	width: 100%;
	height: 3.15em;
	background-color: #4EBBB5;
	border: none;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	color: #fff;
}


footer{
	text-align: center;
}
footer p{
	padding-top: 1.6em;
	padding-bottom: 14.1em;
	color: #9DA3A8;
	font-style: italic;
	font-size: 0.9em;
}




@media screen and (min-width: 768px) {
	

}



