*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trirong', serif;
}
li{
	list-style: none;
}
body{
	/* background: linear-gradient(#2D3945 3.8%, red 5%); */
}

.sub-body{
	padding: 0 1em;
	background: 
	/* radial-gradient(circle at top right, yellow -40%, red 1%, #46321a 90%); */
}

header{
	background-color: #2D3945;
	height: 4.4em;
	margin-bottom: 1.3em;
	line-height: 4.4em;
}

a{
	text-decoration: none;
	transition: all .5s;
}
a:link{
	color: #4a4a4a;
}

a:visited{
	color: red;
}
a:hover{
	text-shadow:0 1px 0 #222,
				0 -1px 0 #222,
                0 2px 0 #222,
                0 3px 0 #222,
                0 4px 0 #222;
}

a:active{
	text-decoration: underline;
}

.head-title{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
}
legend{
	margin-bottom: 0.6em;
	font-size: 1.25em;
	font-weight: 800;
}

.div-1{
	text-align: center;
	/* background: radial-gradient(circle at bottom, #4EBBB5 -80%, transparent); */
	animation: anim1 2s linear 1 forwards;
	margin-bottom: 1.25em;
}

@keyframes anim1{
	0% {opacity: 0; }
	10% {opacity: 0; }
	100% {opacity: 1; }
}

.div-1 h2{
	font-size: 1.25em;
	/* margin-top: -0.55em; */
	margin-bottom: 0.25em;
}

.div-1 p{
	margin-bottom: 2.5em;
	line-height: 1.2em;
	font-size: 0.91em;
	color: #9DA3A8;
}
hr{
	background-color: black;
	border: none;
}

#top-line{
	height: 4px;
	margin-bottom: 3px;
}
#second-line{
	height: 2px;
	
}
#third-line{
	margin-top: 1.15em;
	margin-bottom: 1.37em;
	height: 2px;
}

fieldset{
	border: none;
}

[for]{
	color: #bfbbbb;
	font-weight: 300;
}

input:focus{
	font-style: normal;
	font-weight: 500;
}

input[name=user_full_name]::-webkit-input-placeholder,
input[name=user_email]::-webkit-input-placeholder { 
	text-align:right; 
	font-style: italic;
	font-weight: 200;
}

input[name=user_full_name]::-moz-placeholder,
input[name=user_email]::-moz-placeholder { 
	text-align:right; 
	font-style: italic;
	font-weight: 200;
}

.boxes,
.other{
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.85em;
	background-color: #EFF0F1;
	padding: 0.63em 1.6em;
	border-radius: 4px;
	border: 5px solid transparent;
	transition: background-color 1s;
}

.boxes:focus,
.other:focus{
	outline: none;
	color: #bfbbbb;
	background-color: #100F0E;
	animation: anim2 0.8s linear 0.5s 1 forwards
}

@keyframes anim2{
	0% {border-color: transparent;}
	20% {border-color: #000; }
	40% {border-color: #fff; }
	100% {border-color: #46698B; }
}

#state{
	color: #ABB0B5;
	font-weight: 300;
	font-size: 0.95em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-top: 0.35em;
	height: 49.66px;
	padding: 0 0 0 0.85em;
    background: url('../arrows.png') no-repeat 99% 45% #EFF0F1;
    background-size: 49px 43px;
	transition: background-color 1s;
}
#state:focus{
	background-color: #100F0E;
	background: url('../arrows2.png') no-repeat 99% 45% #100F0E;
}

.zip{
	width: 53%;
	display: block;
}

.newsp{
	margin-bottom: 0.5em;
	line-height: 1.63em;
	font-size: 0.95em;
	color: #bfbbbb;
}
.newsf{
	margin-top: 0.55em;
	margin-bottom: 0.3em;
	color: #bfbbbb;
}

input[name=newsletter]{
	margin: 0 0 1.9em 0;
}

input[type=checkbox] {
    width: 9px;
    height: 9px;
    margin-right: 13px;
    font-size: 9px;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=checkbox]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 3px;
    color:#fff;
    width: 9px;
    height: 9px;
    border:1px solid #a5a5a5;
    border-radius:2px;
}
input[type=checkbox]:checked:after {
    content: "\2713";
    background-color: #489EF9;
    font-weight: 600;
	font-size: 1em;
	line-height: 1;
	border: none;
	padding: 3px 1px 1px 2px;
	text-shadow: 0 1px 0 #444;
}	
input[type=checkbox]:focus{
	outline: none;
}

input[type=radio] {
    width: 12px;
    height: 12px;
    margin-right: 13px;
    font-size: 9px;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=radio]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 3px;
    color:#fff;
    width: 12px;
    height: 12px;
    border:1px solid #a5a5a5;
    border-radius: 50%;
}
input[type=radio]:checked:after {
    content: "\00B7";
    background-color: #489EF9;
    font-weight: 600;
	width: 14px;
    height: 14px;
	font-size: 2.75em;
	line-height: 15px;
	border: none;
	text-align: center;
	text-shadow: 0 1px 0 #444;
}	
input[type=radio]:focus{
	outline: none;
}

#format_html{
	margin-bottom: 1.9em;
}
#format_plain{
	margin-bottom: 3.07em;
}
.oth{
	font-size: 0.95em;
	color: #bfbbbb;
}
textarea{
	height: 7.5em;
	resize: none;
}
.other{
	margin-top: 0.95em;
	margin-bottom: 1.5em;
}
.button{
	width: 100%;
	height: 3.15em;
	background-color: #4EBBB5;
	border: none;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	color: #fff;
}

.button:focus,
.button:hover{
	background: linear-gradient(to bottom, #4ebbb5 -50%, #fff 200%);
}

footer{
	text-align: center;
}
footer p{
	padding-top: 1.6em;
	padding-bottom: 14.1em;
	color: #9DA3A8;
	font-style: italic;
	font-size: 0.9em;
}




@media screen and (min-width: 768px) {
	
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		background: white;
	}
	header{
		width: 100%;
	}
	.sub-body{
		width: 50%;
		
	}
	
	fieldset:nth-of-type(1){
		display: flex;
		flex-direction: column;
	}
	fieldset:nth-of-type(1) div{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	
	
	fieldset:nth-of-type(1) div > input,
	fieldset:nth-of-type(1) div > select{
		max-width: 74.166666666%;
		/* align-self: flex-end; */
		
	}
	fieldset:nth-of-type(1) > label{
		
	}
	
	.div-1{
		margin-top: 2.25em;
		margin-bottom: 2.5em;
	}
	
	
	.div-1 h2{
		margin-bottom: 0.08em;
		font-size: 1.6em;
	}
	
	.div-1 p{
		margin-bottom: 3.15em;
	}
	#third-line{
		margin-top: 3em;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	

}



